<a href="https://colab.research.google.com/github/Hatsuhinode/Feature-Engineering/blob/main/Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Types of missing values

1. MCAR (Missing completely at random)
2. MAR (Missing at random)
3. MNAR (Missing not at random)

### MCAR (Missing completely at random)

For MCAR, all the variables and observations have the same probability of being missing. When data is MCAR, there is absolutely no relationship between the missing data and any other values. There is nothing systematic going on that makes some data more likely to be missing than others.

### MAR (Missing at random)

For MAR, not all the observations and variables have the same change of missing. The probability of the value being missing is related to value of the variable or other variables in the dataset.

### MNAR (Missing not at random)

For MNAR, the probability of being missing is completely different for different values of the same variable, and the reason can be unknown to us.

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.6)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp /content/drive/MyDrive/ColabNotebooks/Kaggle_API/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 49.8MB/s]

In [ ]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv



---

In [ ]:
import pandas as pd
import numpy as np



---

In [ ]:
titanicDataframe = pd.read_csv('train.csv')

In [ ]:
titanicDataframe.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanicDataframe.shape

(891, 12)

In [ ]:
titanicDataframe.shape[0]

891

In [ ]:
titanicDataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**.info()** generates three main columns, including the 'Non-Null Count' which shows the number of non-missing values for each column.

In [ ]:
titanicDataframe.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

**isnull()** returns a panda dataframes, where each value is a boolean value **True** if the value is missing, **False** otherwise.

In [ ]:
titanicDataframe.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64



---

# Percentage of null values in "Age" column of titanicDataframe

## Method-1

In [ ]:
numNullAge = titanicDataframe['Age'].isnull().sum()
print('The number of null values in "Age" column of titanicDataframe is : ',numNullAge )
totalAge = titanicDataframe.count().max()
print('The total number of values (null and non null) in "Age" column of titanicDataframe is : ',totalAge)

percentAge = (numNullAge / totalAge) * 100
print('The percentage of null values in "Age" column of titanicDataframe is : ',percentAge)

The number of null values in "Age" column of titanicDataframe is :  177
The total number of values (null and non null) in "Age" column of titanicDataframe is :  891
The percentage of null values in "Age" column of titanicDataframe is :  19.865319865319865

## Method-2

In [ ]:
np.where(titanicDataframe['Age'].isnull(),1,0)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [ ]:
percentAge1 = ( np.where(titanicDataframe['Age'].isnull(),1,0).mean() )* 100
print('The percentage of null values in "Age" column of titanicDataframe is : ',percentAge1)

The percentage of null values in "Age" column of titanicDataframe is :  19.865319865319865

**np.where** is a NumPy function that allows you to perform conditional operations and return values based on those conditions.



---

# Percentage of null values in "Cabin" column of titanicDataframe

In [ ]:
percentCabin = ( np.where(titanicDataframe['Cabin'].isnull(),1,0).mean() )* 100
print('The percentage of null values in "Cabin" column of titanicDataframe is : ',percentCabin)

The percentage of null values in "Cabin" column of titanicDataframe is :  77.10437710437711



---

# Percentage of null values in "Embarked" column of titanicDataframe

In [ ]:
percentEmbarked = ( np.where(titanicDataframe['Embarked'].isnull(),1,0).mean() )* 100
print('The percentage of null values in "Embarked" column of titanicDataframe is : ',percentEmbarked)

The percentage of null values in "Embarked" column of titanicDataframe is :  0.22446689113355783



---

In [ ]:
titanicDataframe.notnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,True,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
886,True,True,True,True,True,True,True,True,True,True,False,True
887,True,True,True,True,True,True,True,True,True,True,True,True
888,True,True,True,True,True,False,True,True,True,True,False,True
889,True,True,True,True,True,True,True,True,True,True,True,True
890,True,True,True,True,True,True,True,True,True,True,False,True

**notnull()** returns a panda dataframes, where each value is a boolean value **False** if either NaN or None value is detected.

In [ ]:
titanicDataframe.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

**.isna()** shows True only when the missing value is NaN type.



---

# Evaluating why the values are missing (if 'Survivied' column has any relation with missing values)

In [ ]:
titanicDataframe.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanicDataframe['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
titanicDataframe['Survived'].unique()

array([0, 1])

# Grouping datas in terms of 'Survived' column.

## Age

In [ ]:
groupedAge = titanicDataframe.groupby('Survived')['Age']
groupedAge

#### The groupedAge object is a SeriesGroupBy object, which is a special type of Series that is used to group a Series by one or more columns.

In [ ]:
for survivedVal,Age in groupedAge:
    print(survivedVal)
    print(f'The age of passengers in group {survivedVal} is :')
    print(Age)

0
The age of passengers in group 0 is :
0      22.0
4      35.0
5       NaN
6      54.0
7       2.0
       ...
884    25.0
885    39.0
886    27.0
888     NaN
890    32.0
Name: Age, Length: 549, dtype: float64
1
The age of passengers in group 1 is :
1      38.0
2      26.0
3      35.0
8      27.0
9      14.0
       ...
875    15.0
879    56.0
880    25.0
887    19.0
889    26.0
Name: Age, Length: 342, dtype: float64

### With respect to total Age in 'Survived' group

In [ ]:
nullAgeIn0 = groupedAge.get_group(0).isnull().sum()
totalAgeIn0 = groupedAge.get_group(0).count() + nullAgeIn0
print('The number of ages having NULL as value in group Survived = 0 is : {}'.format(nullAgeIn0))
print('The total number of ages in group Survived = 0 is : {}'.format(totalAgeIn0))

The number of ages having NULL as value in group Survived = 0 is : 125
The total number of ages in group Survived = 0 is : 549

In [ ]:
nullAgeIn1 = groupedAge.get_group(1).isnull().sum()
totalAgeIn1 = groupedAge.get_group(1).count() + nullAgeIn1
print('The number of ages having NULL as value in group Survived = 1 is : {}'.format(nullAgeIn1))
print('The total number of ages group Survived = 1 is : {}'.format(totalAgeIn1))

The number of ages having NULL as value in group Survived = 1 is : 52
The total number of ages group Survived = 1 is : 342

In [ ]:
percentOfNullAge0 = (nullAgeIn0 / totalAgeIn0) * 100
percentOfNullAge1 = (nullAgeIn1 / totalAgeIn1) * 100


print('The percentage of passengers with Age as NULL in group Survived = 0 with respect to population in group Survived = 0  is : {}'.format(percentOfNullAge0))
print('The percentage of passengers with Age as NULL in group Survived = 1 with respect to population in group Survived = 1 is : {}'.format(percentOfNullAge1))

The percentage of passengers with Age as NULL in group Survived = 0 with respect to population in group Survived = 0  is : 22.768670309653917
The percentage of passengers with Age as NULL in group Survived = 1 with respect to population in group Survived = 1 is : 15.204678362573098

#### The **get_group()** method in Pandas is used with a **groupby object** to retrieve a specific group from the grouped data. It allows you to access the rows associated with a particular group specified by its key.

#### get_group() method of the SeriesGroupBy object **takes a group label as an argumen**t and **returns a Series object** containing the values for that group.

####The output will display the rows that belong to the '0' category.

### With respect to total NULL Age

In [ ]:
totalNullAge = nullAgeIn0 + nullAgeIn1

perOfNullAge0 = (nullAgeIn0 / totalNullAge) * 100
perOfNullAge1 = (nullAgeIn1 / totalNullAge) * 100


print('Total number of passengers with Age as NULL is : ',totalNullAge)
print('The percentage of passengers with Age as NULL in group Survived = 0 with respect to total passengers with Age as NULL is : {}'.format(perOfNullAge0))
print('The percentage of passengers with Age as NULL in group Survived = 1 with respect to total passengers with Age as NULL is : {}'.format(perOfNullAge1))

Total number of passengers with Age as NULL is :  177
The percentage of passengers with Age as NULL in group Survived = 0 with respect to total passengers with Age as NULL is : 70.62146892655367
The percentage of passengers with Age as NULL in group Survived = 1 with respect to total passengers with Age as NULL is : 29.37853107344633



---

## Cabin

In [ ]:
newDfCabin =  titanicDataframe[['PassengerId','Survived','Cabin']]
newDfCabin

     PassengerId  Survived Cabin
0              1         0   NaN
1              2         1   C85
2              3         1   NaN
3              4         1  C123
4              5         0   NaN
..           ...       ...   ...
886          887         0   NaN
887          888         1   B42
888          889         0   NaN
889          890         1  C148
890          891         0   NaN

[891 rows x 3 columns]

In [ ]:
newDfCabin['CabinNull'] = np.where(newDfCabin['Cabin'].isnull(),1,0)
newDfCabin

<ipython-input-33-1d3f90ccf750>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDfCabin['CabinNull'] = np.where(newDfCabin['Cabin'].isnull(),1,0)

     PassengerId  Survived Cabin  CabinNull
0              1         0   NaN          1
1              2         1   C85          0
2              3         1   NaN          1
3              4         1  C123          0
4              5         0   NaN          1
..           ...       ...   ...        ...
886          887         0   NaN          1
887          888         1   B42          0
888          889         0   NaN          1
889          890         1  C148          0
890          891         0   NaN          1

[891 rows x 4 columns]

In [ ]:
newDfCabin.groupby('Survived')['CabinNull'].mean()

Survived
0    0.876138
1    0.602339
Name: CabinNull, dtype: float64

####**groupby()** allows you to group rows of data together based on a specific column or columns and perform **aggregate functions** on these groups.

####**Aggregate function**  refers to a function that operates on a set of values and returns a single value summarizing or "aggregating" those values.

### With respect to total Cabin in column 'Survived'

In [ ]:
groupedCabin = newDfCabin.groupby('Survived')['CabinNull']
nullCabinIn0 = groupedCabin.get_group(0).sum()
nullCabinIn1 = groupedCabin.get_group(1).sum()


print('Total number of passengers with Cabin as NULL in group Survived = 0 is : ', nullCabinIn0)
print('Total number of passengers with Cabin as NULL in group Survived = 1 is : ', nullCabinIn1)

Total number of passengers with Cabin as NULL in group Survived = 0 is :  481
Total number of passengers with Cabin as NULL in group Survived = 1 is :  206

In [ ]:
totalCabinIn0 = groupedCabin.get_group(0).count()
totalCabinIn1 = groupedCabin.get_group(1).count()

print('The number of passengers with in group Survived = 0 is : {}'.format(totalCabinIn0))
print('The number of passengers with in group Survived = 1 is : {}'.format(totalCabinIn1))

The number of passengers with in group Survived = 0 is : 549
The number of passengers with in group Survived = 1 is : 342

In [ ]:
percentOfNullCabin0 = (nullCabinIn0 / totalCabinIn0) * 100
percentOfNullCabin1 = (nullCabinIn1 / totalCabinIn1) * 100

print('The percentage of passengers with Cabin as NULL in group Survived = 0 with respect to population in group Survived = 0 is : {}'.format(percentOfNullCabin0))
print('The percentage of passengers with Cabin as NULL in group Survived = 1 with respect to population in group Survived = 1 is : {}'.format(percentOfNullCabin1))

The percentage of passengers with Cabin as NULL in group Survived = 0 with respect to population in group Survived = 0 is : 87.61384335154827
The percentage of passengers with Cabin as NULL in group Survived = 1 with respect to population in group Survived = 1 is : 60.23391812865497

## -> **count()**: Counts the number of <u>non-null values</u> in each column of the selected group.

### With respect to total NULL Cabin

In [ ]:
'''groupedCabin = newDfCabin.groupby('Survived')['CabinNull']
nullCabinIn0 = groupedCabin.get_group(0).sum()
nullCabinIn1 = groupedCabin.get_group(1).sum() '''

totalNullCabin = nullCabinIn0 + nullCabinIn1
print('Total number of passengers with Cabin as NULL in group Survived = 0 is : ',nullCabinIn0)
print('Total number of passengers with Cabin as NULL in group Survived = 1 is : ',nullCabinIn1)
print('Total number of passengers with Cabin as NULL among the entire passengers is : ',totalNullCabin)

Total number of passengers with Cabin as NULL in group Survived = 0 is :  481
Total number of passengers with Cabin as NULL in group Survived = 1 is :  206
Total number of passengers with Cabin as NULL among the entire passengers is :  687

In [ ]:
percentOfNullCabin0 = (nullCabinIn0 / totalNullCabin) * 100
percentOfNullCabin1 = (nullCabinIn1 / totalNullCabin) * 100

print('The percentage of passengers with Cabin as NULL in group Survived = 0 with respect to total population is : {}'.format(percentOfNullCabin0))
print('The percentage of passengers with Cabin as NULL in group Survived = 1 with respect to total population is : {}'.format(percentOfNullCabin1))

The percentage of passengers with Cabin as NULL in group Survived = 0 with respect to total population is : 70.01455604075691
The percentage of passengers with Cabin as NULL in group Survived = 1 with respect to total population is : 29.985443959243085



---

## Embarked

In [ ]:
newDfEmbarked = titanicDataframe[['PassengerId','Survived','Embarked']]
newDfEmbarked['EmbarkedNull'] = np.where(newDfEmbarked['Embarked'].isnull(),1,0)
newDfEmbarked

In [ ]:
groupedEmbarked = newDfEmbarked.groupby('Survived')['EmbarkedNull']

In [ ]:
totalEmbaredIn0 = groupedEmbarked.get_group(0).count()
totalEmbaredIn1 = groupedEmbarked.get_group(1).count()
print('The total number of Embarked in group Survived = 0 is : ',totalEmbaredIn0)
print('The total number of Embarked in group Survived = 1 is : ',totalEmbaredIn1)

The total number of Embarked in group Survived = 0 is :  549
The total number of Embarked in group Survived = 1 is :  342

In [ ]:
nullEmbarkedIn0 = groupedEmbarked.get_group(0).sum()
nullEmbarkedIn1 = groupedEmbarked.get_group(1).sum()
print('The total number of NULL Embarked in group Survived = 0 is : ',nullEmbarkedIn0)
print('The total number of NULL Embarked in group Survived = 1 is : ',nullEmbarkedIn1)

The total number of NULL Embarked in group Survived = 0 is :  0
The total number of NULL Embarked in group Survived = 1 is :  2